@model Cosmo.Presentation.Models.Ship.HullEngineViewModel

@{
    ViewData["Title"] = "Hull & Engine";
}

<div class="text-center">
    <form asp-action="ConfigureBase">
        <select class="form-control" asp-for="EquippedHull" asp-items="@(new SelectList(Model.Hulls,"Id","Name"))"></select>
        <select class="form-control" asp-for="EquippedEngine" asp-items="@(new SelectList(Model.Engines,"Id","Name"))"></select>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
