@{
    ViewData["Title"] = "Ship Configurator";
}

<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center my-4">
            <h1 class="display-4">Welcome to the Ship Configurator.</h1>
        </div>

        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Invite" asp-controller="Account" class="btn btn-primary btn-lg btn-block">Invite Visitor</a>
        } 
        @if (User.IsInRole("Visitor"))
        {
            <a asp-action="ConfigureBase" asp-controller="ShipConfig" class="btn btn-primary btn-lg btn-block">Configure Ship</a>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-lg btn-block">Authenticate</a>
        }
    </div>
</div>
