@{
    ViewData["Title"] = "Ship Configurator";
}

<h1 class="display-4">Welcome to the Ship Configurator.</h1>
<div class="row">
    <div class="col-md-12">
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Invite" asp-controller="Account" class="btn btn-primary">Invite</a>
        } 
        @if (User.IsInRole("Visitor"))
        {
            <a asp-action="ConfigureBase" asp-controller="ShipConfig" class="btn btn-primary">Configure Ship</a>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
        }
    </div>
</div>
