@model Cosmo.Presentation.Models.ShipConfig.HullEngineViewModel

@{
    ViewData["Title"] = "Hull & Engine";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="ConfigureBase">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label>Hull Type</label>
            <select class="form-control" asp-for="HullId" asp-items="@(new SelectList(Model.Hulls,"Id","Name"))"></select>
            <label>Engine Type</label>
            <select class="form-control" asp-for="EngineId" asp-items="@(new SelectList(Model.Engines,"Id","Name"))"></select>
            <label>Amount of Wings</label>
            <select class="form-control" asp-for="WingAmount">
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
            </select>
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>
