@model Cosmo.Presentation.Models.ShipConfig.FinishedViewModel

@{
    ViewData["Title"] = "Overview";
}

<div class="row">
    <div class="col-md-12">
        <h1>Ship Registered</h1>
        <p>See your code below.</p>
        <h3>@Model.Code</h3>
    </div>
</div>